body {
    background-image: url(../imagens/fundo5.jpg);
    background-repeat: no-repeat;
    background-size: 160%;
}

main {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 20px;
    margin-top: 100px;
    margin: 40px 20px 0px 20px;
    border-radius: 20px;
    text-align: left;
    color: whitesmoke;
}

h1 {
    text-align: center;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: 15fr 15fr 15fr;
    gap: 40px;
}
